*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: antiquewhite;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}